/* style.css */


body {
    font-family: Noah, Arial, sans-serif;
    background-image: url('basketball-1920x1080.png');
    
}

#welcome {
    border: 5px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

h1 {
    text-align: center;  
    background-color: rgb(42, 44, 46);
    color: burlywood;
    font-size: 50px;
}
form#search-form {
    text-align: center;
    font-size: 48px;
}

h3 {
    text-align: center;
}

p {
    font-size: 22px;
    text-indent:0.5in;
    text-align: justify;
    margin-left: .5in;
    margin-right: .5in;
    background-color: rgba(198, 88, 48, .65);
}

ul {

    float: left;
    color: blanchedalmond;
    font-size: 24px;
}

div#feature {
    float:right;
    margin-right: 1.5in;
    font-size: 20px;
    color: blanchedalmond;
    background-color: rgba(198,88,48,.65);
    border: 5px solid black;
}

div#myRoutine {

    color:blanchedalmond;
    font-size: 24px;
    font-weight: bold;
}

div#myRoutine.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


